<div class="logo-titulo">
  <img src="assets/img/logo.png" alt="logo-pet-help">
  <h2 class="titulo">Login</h2>
</div>

<form (ngSubmit)="onSubmit()" #form="ngForm">

  <div class="txt_field">
    <input type="text" name="email" id="email" [(ngModel)]="login.username" required />
    <span></span>
    <label class="form__label">Username</label>
  </div>

  <div class="txt_field">
    <input type="password" name="password" id="password" [(ngModel)]="login.password" required />
    <span></span>
    <label class="form__label">Password</label>
  </div>

  <div class="pass">Esqueceu sua senha?</div>

  <div class="loading" *ngIf="loading">
    <div>
      <app-app-loading></app-app-loading>
    </div>
  </div>

  <button type="submit" class="form__button" [disabled]="form.form.invalid">Entrar</button>
  <div class="signup_link">
    Não é membro? <a [routerLink]="['/create-account']">Criar conta</a>
  </div>
</form>