.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  min-height: 44px;
  padding: 0 16px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
